.small_left {
    left: -8.33%;
    float: left;
    width: 30%;
    z-index: -10;
}

.big_left {
    left: -8.33%;
    float: left;
    width: 70%;
    z-index: -10;
}

.small_right {
    left: 31.25%;
    top: 75px;
    float: right;
    z-index: -10;
    width: 30%;
}

.big_right {
    left: 31.25%;
    top: 75px;
    float: right;
    z-index: -10;
    width: 70%;
}

.container {
    clear: both;
    display: flex;
    text-align: center;
}

.col {
    flex: 1;
    display: inline-block;
    text-align: center;
    width: 33%
}

.title-answer {
    float: right;
    font-style: italic !important;
}

.girl {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("girl.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 300px;
    width: 300px;
}

.girl-right {
    left: auto;
    right: -50px;
}

.speech-bubble {
    position: relative;
    background: #41F3B5;
    border-radius: .4em;
    box-shadow: 2px 3px;
    padding: 0.2em !important;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #41F3B5;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -20px;
    box-shadow: 2px 0;
}

.speech-bubble-right {
    left: 110%;
    bottom: -50%;
    width: 200%;
}

.speech-bubble-right:after {
    left: 0;
    top: 50%;
    border: 20px solid transparent;
    border-right-color: #41F3B5;
    border-top-color: transparent;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
    box-shadow: 0 0;
}

.speech-bubble-left {
    right: 120%;
    bottom: -65%;
    width: 100%;
}

.speech-bubble-left:after {
    left: auto;
    right: 0;
    top: 50%;
    border: 20px solid transparent;
    border-left-color: #41F3B5;
    border-top-color: transparent;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -20px;
    box-shadow: none;
}

#slide-sec-2 h3 {
    text-align: left;
    font-size: 1.65em;
}

#slide-sec-2 table {
    border-collapse: collapse;
}

#slide-sec-2 table td {
    border: 0 !important;
    text-align: center !important;
    vertical-align: middle;
    padding: 0.2em !important;
    width: 33% !important;
}

#slide-sec-2 table tr:nth-child(1) td {
    height: 200px;
}

#slide-sec-2 table tr:nth-child(2) td {
    height: 40px;
}

#slide-sec-2 table tr:nth-child(3) td {
    height: 90px;
}

#slide-sec-2 table img {
    margin: 0;
    height: 100%;
}

#slide-sec-2 table video {
    margin: 0;
    height: 190px;
}

#slide-sec-3 h3 {
    text-align: left;
    font-size: 1.65em;
}

#slide-sec-4 .speech-bubble {
    width: 80%;
}

.horses {
    text-align: center;
}

/*:nth-child(1)*/
.horse {
    display: inline-block;
}

.horses .horse:nth-child(1) {
    width: 25%;
}
.horses .horse:nth-child(1) img {
    height: 100px;
}

.horses .horse:nth-child(2) {
    width: 15%;
    margin-left: 10%;
    margin-right: 10%
}

.horses .horse:nth-child(3) {
    width: 25%;
}
.horses .horse:nth-child(3) img {
    height: 110px;
}

.horse:after, .horse:before {
    content: '';
    position: relative;
    display: block;
    font-size: 0.7em;
}
.horses .horse:nth-child(1):after {
    content: 'Gallop';
}

.horses .horse:nth-child(2):after {
    content: 'Trot';
}

.horses .horse:nth-child(3):after {
    content: 'Walk';
}

.horses .horse:nth-child(1):before {
    content: 'Swim';
    top: -10px;
}

.horses .horse:nth-child(3):before {
    content: 'Crawl';
}

#slide-sec-5 {
    padding-bottom: 120px;
}

#slide-sec-5 .speech-bubble {
    bottom: -65%;
}

#slide-sec-5 .speech-bubble:after {
    border-right: 0;
}

#slide-sec-6 {
    padding-bottom: 200px;
}

#slide-sec-7 {
    padding-bottom: 220px;
    text-align: center;
}
