@font-face {
    font-family: Sassoon;
    src: url("Sassoon-Primary.otf") format("opentype");
}

@font-face {
    font-family: Sassoon;
    font-weight: bold;
    src: url("SassoonPrimaryStd-Bold.otf") format("opentype");
}
